<div class="container">

  <div class="row">

    <div class="col-md-12">
      <div class="left-buttons">
        <div class="btn-group" dropdown>
          <button id="button-basic" dropdownToggle type="button" class="btn btn-secondary dropdown-toggle"
                  aria-controls="dropdown-basic">
            <i class="fas fa-file-alt"></i> Pages <span class="caret"></span>
          </button>
          <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
              role="menu" aria-labelledby="button-basic">
            <li role="menuitem" *ngFor="let page of pages">
              <a class="dropdown-item" href="#" (click)="load(page.id)">{{ page.name }}</a>
            </li>
          </ul>
        </div>

        <button type="button" class="btn btn-secondary" (click)="reload()">
          <i class="fas fa-sync-alt" aria-hidden="true"></i> Reload
        </button>
        <!--2-->

        <button type="button" class="btn btn-secondary" (click)="newPage()">
          <i class="fas fa-plus-square" aria-hidden="true"></i> New page
        </button>

        <div class="float-right">
          <button type="button" class="btn btn-secondary" (click)="delete()" [hidden]="!pageExists()">
            <i class="fas fa-trash-alt" aria-hidden="true"></i> Delete page
          </button> <!--3-->
        </div>

      </div>
    </div>

    <div class="col-md-12"> <!--4-->
      <div class="invisible alert" role="alert" id="alertMessage">
        {{ alertMessage }}
      </div>
    </div>

  </div>

  <div class="row">

    <div class="col-md-6" [innerHtml]="renderedHtml"></div>

    <div class="col-md-6">
      <form>
        <div class="form-group">
          <label for="markdown">Markdown</label>
          <textarea id="markdown" class="form-control" rows="25" (keyup)='keyUp.next($event)'></textarea> <!--1-->
        </div>
        <div class="form-group">
          <label for="pageName">Name</label>
          <input class="form-control" type="text" value="" id="pageName" [disabled]="pageExists()">
        </div>
        <button type="button" class="btn btn-secondary" (click)="save()">
          <i class="fas fa-pencil-alt" aria-hidden="true"></i> Save
        </button>
      </form>
    </div>

  </div>

</div>

